
.movie {
  display: flex;
}


.movie .movie-poster {
  width: 200px;
}

.movie .movie-poster img {
  width: 100%;
}

.movie .genres {
  display: flex;
}

.movie .genres > div {
  border: 1px solid;
  padding: 4px 10px;
  border-radius: 16px;
  margin-right: 8px;
}